@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.todo-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.todo-content {
    width: 60%;
    box-shadow: #00000014 0 0 19px 0px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-todos {
    border: 1px silver solid;
    border-radius: 9px;
}

.todo-content .title {
    width: 100%;
    justify-content: center;
    display: flex;
    font-weight: 500;
    font-size: 34pt;
}


@media screen and (max-width: 600px) {
    .todo-content {
        width: 100%;
    }
}